<article class="content_block_alpha">
  <header>
  <h1>propose a talk</h1>
  </header>
  <section>
  <h2> We Want You! </h2>
  <p>
  </p>
  <p>
    User Experience has a broad definition. In fact, many people would probably disagree as to whether certain aspects of development fit in a UX definition at all. For us, it's virtually anything that affects how the end-user of an application or site interacts with it. This includes Visual Design, Content Strategy, Interaction Design, Page Load Times—and everything in between.
  </p>
  <%= link_to "https://sapling.wufoo.com/forms/uxmad-2013-call-for-proposals/", :class => "button" do %>
    Submit a talk
  <% end %>
  </section>
</article>
