<article class="content_block_alpha">
<header>
<h1>Design Madison</h1>
</header>
<section>
<h2>MakeSh!t Conference</h2>
<h3>The Power of Process</h3>
<p>How do you generate creative solutions? How do you think outside the box? Design Madison is putting on its first-ever design conference devoted to the thinking behind creative thinking — MakeSh!t: The Power of Process. Join us July 11–12 at the Madison Museum of Contemporary Art for two intensive days of inspiring speakers, practical workshops and in-depth discussion. You’ll learn essentials for defining effective methods for creativity and achieve a clearer understanding of approaches to problem solving. Walk away with a new perspective on the changing design industry and actionable insights on process that will increase creative value both to clients and society. Register <LINK> now for Design Madison's MakeSh!t: The Power of Process.</p>
</section>
</article>
