<article class="content_block_charlie">
  <header>
  <h1>register</h1>
  </header>
  <section>
  <h2>Buy your ticket</h2>
  <p>
    Two days of mind-expanding content and top-shelf after-parties.
  </p>
  <ul id="prices">
    <li>
      <strong>
      $249
      </strong>
      &mdash;
      Early Bird Tickets (until 5/1)
    </li>
    <li>
      <strong>
      $299
      </strong>
      &mdash;
      Regular Conference Tickets
    </li>
    <li>
    <strong>
      $398
    </strong>
      &mdash;
      Event Bundle
      <ul class="bundle-details">
        <li>Design Madison: July 11-12</li>
        <li>UXMad: July 12-13</li>
      </ul>
    </li>
    <li>
      <strong>
      $450
      </strong>
      &mdash;
      Event Bundle
      <ul class="bundle-details">
        <li>UXMad: July 12-13</li>
        <li>MadisonRuby: August 23-24</li>
      </ul>
    </li>
  </ul>
  <%= link_to "http://2013.uxmad.com", :class => "button", :id => "register_link" do %>
    Register
    <span class="iconfont_alpha">2</span>
  <% end %>
  </section>
</article>
