%article.content_block_bravo
  %header
    %h1 stay connected
  %section
    .fb-like{"data-href" => "http://www.uxmad.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
