%article.content_block_bravo
  %header
    %h1 stay connected
  %section.social

    = link_to image_tag('facebook_icon_32.png', alt: 'Facebook'), 'https://www.facebook.com/pages/UXMad/399726613375151', class: 'icon'
    = link_to image_tag('twitter_icon_32.png', alt: 'Twitter'), 'http://www.twitter.com/UXMad', class: 'icon'
    <h2>Sharing is caring</h2>
    .fb-like{"data-href" => "http://www.uxmad.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
