<article class="content_block_bravo">
  <header>
  <h1>ux mad</h1>
  </header>
  <section>
  <h2>Relax. Engage. Refresh.</h2>
  <p> UXMad is a one-track conference where agile design meets elegant function. With two
full days featuring speakers from near and far, the conference will showcase the assets of
the passionate local UX community and allow Madison visitors a chance to experience
one of the best, brainiest and least-expensive places in the United States to live and work.
Come for UX inspiration. Stay for the cheese.</p>
  </section>
</article>
