%h1 Cancellation Policy

%p
  %strong
    *** All tickets sales are final and non-refundable. ***
%p
  You may transfer your registration to another person up to the start of the conference by providing authorization to us at contact@UXMad.com or in person at the registration table. In the unlikely event that the conference is canceled, the liability to UXMad Conference is limited to the returning paid registration fees. Please contact us at contact@UXMad.com regarding registration and any registration problems.
