<h1>Lodging</h1>
<ul class="speakers">
  <li>
  <div class="speaker-description-block">

    <h2>DoubleTree by Hilton Hotel Madison</h2>
<p>Right in the heart of downtown Madison, DoubleTree by Hilton Hotel Madison is close to the eastern edge of the University of Wisconsin-Madison campus, nestled between Lake Monona and Lake Mendota.</p>
<p><h3>Location:</h3> 525 West Johnson Street, <br>Madison, WI 53703</p>
<img class="imgthumb" alt="double tree madison" src="assets/dtree.png">
<img class="imgthumb"alt="double tree madison room" src="assets/dtreeroom1.png">
<img class="imgthumb"alt="double tree madison room" src="assets/dtreeroom2.png">

<h3>Hotel Reservations</h3>
<p>We have been given an exceptional group rate by the DoubleTree by Hilton Hotel Madison for UXMad conference attendees. Book your room early, as the conference room block will sell out. </p>
<p>$149 per night for single or double occupancy</p>
<h3>The Rate includes:</h3>

Complimentary WIFI<br>
Complimentary hot breakfast<br>
Complimentary parking<br>
Room rates are subject to any local, state, and federal tax that may apply at time of occupancy. (For informal purposes only, currently the room tax rate is 14.5% in effect at the time of check-in.)</p>
<h3>To Make a Reservation</h3>

<a href="http://doubletree.hilton.com/en/dt/groups/personalized/M/MSNDTDT-UXM-20130710/index.jhtml?WT.mc_id=POG" class="lodginglink">Double Tree Online</a><br>
<h5>Group Code: UXM</h5> 
By Phone: To receive the special discounted room rate, please identify yourself as an
attendee of UXMad conference when calling the hotel’s reservation number and mention the Group Code: UXM
<br>
Direct Number: 608-251-5511 <br>
Toll Free Reservation Number: 800-222-TREE<br>
Reservations received after June 25, 2013, (or after the room block sells out, whichever comes first) will be honored on a space available basis at the prevailing rate of the hotel.  A 24 hour cancellation notice is required to avoid forfeiture of any deposits or payment of penalties.
</p>

<h2>Madison Hostel</h2>
<p>Hostels are not for everyone and this one has common rooms and showers that might not be your cup of tea. However if you can get past a few details like that you can meet some excellent folks travelling the world and get your own bed to crash on for less than a dinner for two.</p>
<br>
<h4>Location:</h4>
<p>141 South Butler Street, Madison, WI 53703</p>
<p><h4>Website:</h4> <a href="http://www.hiusa.org/madison" class="lodginglink">Hostelling International, Madison, WI</a></p>
<h4>Rate:</h4> $18 per night for one bed

  </div>
</li>

  </ul>

